.main-proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    animation: animate__fadeInDown; 
    animation-duration: 5s; 
}

.main-proyectos h1{
    text-align: center;
    color: #B0B3B8;
}

.proyectos__f1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.proyecto{
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;        
}

.proyecto img{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #B0B3B8;
    transition: all 500ms;
}

.proyecto img:hover{
    transform: scale(1.05);
}



.proyecto p,
.proyecto a{
    text-align: center;
    margin-top: 10px;
    color: #B0B3B8;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 789px){

    .proyectos__f1{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .proyecto{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;        
    }

}