<main class="main-proyectos animate__animated animate__fadeIn">

    <h1 class="animate__animated animate__fadeIn">Proyectos Realizados:</h1>

    <div class="proyectos__f1">

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/laikamapp.PNG"
                (click)="goToLaikamapp('https://laikamappfront.herokuapp.com/')"
            >

            <a 
                (click)="goToLaikamapp('https://laikamappfront.herokuapp.com/')"
            >
                Aplicación móvil LaikaMapp (Abrir en modo de móvil en el navegador)
            </a>

        </div>

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/graficas-angular.PNG"
                (click)="goToGraficas('https://andres-david.github.io/todo-js/')"
            >

            <a 
            (click)="goToGraficas('https://andres-david.github.io/todo-js/')"
            >
                Graficas con Angular
            </a>

        </div>

    </div>

    <div class="proyectos__f1">

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/blackjack.PNG"
                (click)="goToBlack('https://andres-david.github.io/Blackjack-javascript/')"
            >

            <a 
                (click)="goToBlack('https://andres-david.github.io/Blackjack-javascript/')"
            >
                Blackjack con JavaScript
            </a>

        </div>

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/Lista_tareas.PNG"
                (click)="goToBlack('https://andres-david.github.io/todo-js/')"
            >

            <a 
            (click)="goToBlack('https://andres-david.github.io/todo-js/')"
            >
                Lista de Tareas JavaScript
            </a>

        </div>

    </div>

    <div class="proyectos__f1">

         <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/shopping-cart.PNG"
                (click)="goToCart('https://andres-david.github.io/shopping-cart-js/')"
            >

            <a 
                (click)="goToCart('https://andres-david.github.io/shopping-cart-js/')"
            >
                Carrito de compras (JavaScript - Bootstrap5)
            </a>

         </div>

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/buscador-gifs-react.PNG"
                (click)="goToGifsReact('https://andres-david.github.io/react-gifexpert/')"
            >

            <a 
                (click)="goToGifsReact('https://andres-david.github.io/react-gifexpert/')"
            >
                Buscador de Gifs (React)
            </a>

        </div>

    </div>

    <div class="proyectos__f1">

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/gifs-angular.PNG"
                (click)="goToGifsAngular('https://andres-david.github.io/gifsapp-angular/')"
            >

            <a 
                (click)="goToGifsAngular('https://andres-david.github.io/gifsapp-angular/')"
            >
                Buscador de Gifs (Angular)
            </a>

        </div>

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/redsocial.PNG"
                (click)="goToRedSocial('https://andres-david.github.io/maquetacion_red_social_bootstrap/')"
            >

            <a 
                (click)="goToRedSocial('https://andres-david.github.io/maquetacion_red_social_bootstrap/')"
            >
                Maquetación Red Social (Bootstrap 5)
            </a>

        </div>

    </div>
    
    <div class="proyectos__f1">

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/maqutacion1.PNG"
                (click)="goToMaquetacion1('https://andres-david.github.io/maquetacion_estatica1/')"
            >

            <a 
                (click)="goToMaquetacion1('https://andres-david.github.io/maquetacion_estatica1/')"
            >
                Maquetación con CSS y HTML
            </a>

        </div>

        <div class="proyecto">

            <img 
                src="../../assets/imgs/proyectos/pokeApi.PNG"
                (click)="goToPokeApi('https://andres-david.github.io/pokeApi/')"
            >

            <a 
                (click)="goToPokeApi('https://andres-david.github.io/pokeApi/')"
            >
                PokeApi (Utilizando servicio de una Api)
            </a>

        </div>

    </div>
     
 </main>
