<main class="main-tecnologias">

    <h1>Tecnologías con las que desarrollo:</h1>

    <div class="div__tecnologias">

        <div class="tecnologias__g1">

            <div class="js">
                <img src="../../assets/imgs/tecnologias/js.png" width="100px">
                <p class="overlay">
                    JavaScript
                </p>
            </div>

            <div class="html">
                <img src="../../assets/imgs/tecnologias/html.png" width="100px">
                <p class="overlay">
                    HTML
                </p>
            </div>

            <div class="css-3">
                <img src="../../assets/imgs/tecnologias/css3.png" width="100px">
                <p class="overlay">
                    CSS
                </p>
            </div>
            
        </div>

        <div class="tecnologias__g2">

            <div class="angular">
                <img src="../../assets/imgs/tecnologias/angular2.png" width="85px">
                <p class="overlay">
                    Angular
                </p>
            </div>

            <div class="type">
                <img src="../../assets/imgs/tecnologias/typescript.png" width="100px">
                <p class="overlay">
                    TypeScript
                </p>
            </div>

            <div class="react">
                <img src="../../assets/imgs/tecnologias/react.png" width="100px">
                <p class="overlay">
                    React
                </p>
            </div>

        </div>

        <div class="tecnologias__g3">

            <div class="mysql">
                <img src="../../assets/imgs/tecnologias/mysql.png" width="100px">
                <p class="overlay">
                    MySQL
                </p>
            </div>

            <div class="node-js">
                <img src="../../assets/imgs/tecnologias/node.png" width="100px">
                <p class="overlay">
                    Node.js
                </p>
            </div>

            <div class="bootstrap">
                <img src="../../assets/imgs/tecnologias/bootstrap5.png" width="85px">
                <p class="overlay">
                    Bootstrap 5
                </p>
            </div>

        </div>

    </div>
    
</main>
