<main class="main-descripcion">
    <!-- <embed src="../../assets/imgs/Cv_ADCL.pdf" type="application/pdf" width="100%" height="600px" /> -->
    <embed src="../../assets/imgs/CV_ADCL.pdf" type="application/pdf" width="100%" height="600px" />

    <!-- <h1>Andrés David Cedeño López</h1>

    <h2>Web Developer</h2>

    <p>
        Ingeniero Civil de la Universidad Libre de Colombia con un Máster en Sistemas de Ingeniería Civil en la
        Universidad Politécnica de Madrid. Debido a la revolución digital de los últimos años, he decido ser
        parte de dicha revolución en el campo del desarrollo de software, realizando proyectos de aplicaciones
        web y moviles tanto en la parte de back-end como la de front-end con tecnologias como JavaScript, CSS,
        Bootstrap5, HTML, Angular, MongoDB, MySQL y NodeJS.

    </p> -->


</main>
