<div id="container">

    <main class="main">

        <div class="div__v1">

            <div class="div__img">

            </div>

            <div class="div__title">
                <h1>
                    Andrés D. Cedeño L.
                </h1>

                <h3>Full-stack Developer</h3>

                <p>
                    Ingeniero Civil de la Universidad Libre de Colombia con un Máster en Sistemas de Ingeniería Civil en la
                    Universidad Politécnica de Madrid.             
                </p>

                <p>
                    Debido a mi gran pasión por la tecnología y la revolución de las tecnologías de la información que se ha 
                    presentado los úlimos años, he decido ser parte de este mundo donde veo una gran oportunidad para aprender
                    y desarrollar mi potencial, lo que me ha llevado a adquirir conocimientos de tecnologías para el desarrollo 
                    <b>front-end</b> y <b>back-end</b> de aplicaciones web y móvil de manera autodidacta y con educación intensiva 
                    como los Bootcamps.
                </p>

            </div>


        </div>

    </main>

</div>
